.header__logo{
  width: 100px;
  margin: 0 20px;
  margin-top: 18px;
  /* object-fit: contain; */
}
.header{
  height: 60px;
  background-color: #131921;
  align-items: center;
  display: flex;
  /* position: static;
  top: 0;
  z-index: 100; */


}
.header__search{
  display: flex;
  flex: 1;
  border: none;
  align-items: center;
  /* border-radius: 24px; */
}

.header__searchIcon{
  background-color: #fcbd69;
  height: 22px !important;
  padding: 5px;

}
.header__searchInput{
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header__nav{
  display: flex;
  justify-content:space-evenly;

}
.header__option{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;

}
.header__optionone{
font-size: 10px;
}
.header__optiontwo{
font-size: 13px;
font-weight: 800;
}
.header__Link{
  color: white;
  text-decoration: none;
}
.header__optionBasket{
display: flex;
align-items: center;  
}
.header__basketcount{
  margin-left: 10px;
  margin-right: 10px;
}